.advantages {
  margin-right: 21px;
  margin-left: 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-darkgrey;
  padding-left: 80px;
  margin-bottom: 20px;
}
