.catalog {
  margin-right: 20px;
  margin-left: 20px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-darkgrey2;
}

.catalog__product-info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @color-darkgrey;
}

.catalog__subtitle--color {
  color: @color-black2;
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @color-darkgrey;
}

.catalog__to-all {
  color: @color-darkgrey;
  background-color: @color-grey;
}
