.catalog__list {
  list-style: none;
}

.catalog__subtitle {
  font-family: "Oswald", "Arial";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-darkgrey2;
}

.catalog__product-info {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: @color-darkgrey;
}

.catalog__subtitle--color {
  color: @color-black2;
}

.catalog__text {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: @color-darkgrey;
}

.catalog__to-all {
  color: @color-darkgrey;
  background-color: @color-grey;
}

