.example {
  background-color: @color-bggrey;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0 calc(50% - 650px);
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin-right: 21px;
  margin-left: 20px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-darkgrey;
  margin-right: 21px;
  margin-left: 20px;
}

.results {
  display: flex;
  justify-content: space-between;
  margin-right: 21px;
  margin-left: 20px;
}

.results__item {
  border: 1px solid @color-specialgrey;
  border-radius: 5px;
}

.results__how-much {
  font-size: 24px;
  line-height: 24px;
}

.results__desc {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @color-darkgrey;
}

.example__total-cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
