.footer-bottom {
  text-align: center;
  padding: 39px 20px 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0 calc(50% - 650px);
  }
}

.footer-bottom__logo {
  width: 100%;
}
