.gift {
  position: relative;
  margin-top: 57px;
  margin-right: 20px;
  margin-left: 20px;
}

.gift__img {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
  }
}

.gift__text {
  position: absolute;
  top: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
}
