.gift {
  position: relative;
  margin-top: 57px;
  margin-right: 20px;
  margin-left: 20px;
}

.gift__text {
  position: absolute;
  top: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
}
