.program-filter {
  margin-top: 27px;
  margin-bottom: 32px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 72px;
    padding: 0 calc(50% - 344px);
  }

  @media (min-width: @desktop-width) {
    padding: 0 calc(50% - 620px);
  }
}

.program-filter__title {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  white-space: nowrap;
}

.program-filter__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 66px;
  }
}

.program-filter__small {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 1460px;
    left: 60%;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    top: 1400px;
  }
}
