@color-black: #000000;
@color-black2: #111111;
@color-darkgrey2: #222222;
@color-darkgrey: #444444;
@color-specialgrey: #CDCDCD;
@color-bggrey: #EAEAEA;
@color-grey: #F2F2F2;
@color-white: #ffffff;
@color-lime: #63A73A;
@color-lightgreen: #68B738;

@tablet-width: 768px;
@desktop-width: 1440px;
